@using WebViettel.Controllers
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="container my-4">
    <h1 class="text-center">GIỎ HÀNG</h1>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width:70px;">Hình</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng mua</th>
                        <th>Giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Item item in (List<Item>)Session["cart"])
                    {

                        <tr>
                            <td class="text-center"></td>
                            <td>
                                <img src="~/Public/img/@item.Pr.Hinh" class="img-fluid" />
                            </td>
                            <td>@item.Pr.MA_SPHAM</td>
                            <td class="text-center">
                                <input name="@item.Quantity" value="1" min="0" style="width:70px;" type="number" class="form-control" />
                            </td>
                            <td class="text-right">@item.Pr.PRIDE</td>
                            <td class="text-right">@(item.Pr.PRIDE * item.Quantity)</td>
                            <td class="text-center"><span class="text-danger" style="font-size:18px;">@Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = item.Pr.MA_SPHAM }, null)</span></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            @*<a href="#" class="btn btn-success">Mua thêm</a>*@
                            @Html.ActionLink("Mua thêm", "Index", "Site", null, new { @class = "btn btn-success" })
                        </td>
                        <td colspan="4" class="text-right">
                            <button class="btn btn-info">Cập nhật</button>
                            <button class="btn btn-danger">Huỷ đơn hàng</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label><strong>Họ và tên (<span class="text-danger">*</span>)</strong></label>
                <input name="fullname" placeholder="VD: Nguyễn Văn A" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label><strong>Số Điện Thoại (<span class="text-danger">*</span>)</strong></label>
                <input name="sdt" placeholder="VD: 9 chữ số không dấu câu hay dấu cách" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label><strong>Email (<span class="text-danger">*</span>)</strong></label>
                <input name="email" placeholder="VD: NguyenVanA@gmail.com" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label><strong>Tiêu đề (<span class="text-danger">*</span>)</strong></label>
                <input name="Tieude" placeholder="Hỏi giá sỉ?" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label><strong>Nội dung (<span class="text-danger">*</span>)</strong></label>
                <textarea name="NoiDung" placeholder="Điền nội dung" type="text" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success">Gửi</button>
            </div>
        </div>
    </div>
</div>



